:root {
  --Gradient-1: linear-gradient(180deg, #75f 0%, #6943ff 0.01%, #2f2ce9 100%);
  --Gradient-2: linear-gradient(
    180deg,
    #4d21c9 0%,
    rgba(37, 33, 201, 0) 100%,
    rgba(37, 33, 201, 0) 100%
  );

  --Dark-Navy: #303b59;

  --Red: #ff5555;
  --Light-Red: #fff6f6;

  --Blue: #1125d6;
  --Light-Blue: #f3f4fd;

  --Light-Blue-2: #cac9ff;
  --Very-Light-Blue-2: #ecf2ff;

  --Green: #00bb8f;
  --Light-Green: #f2fcf9;

  --Yellow: #ffb21e;
  --Light-Yellow: #fffbf4;

  --White: #fff;
}
